venv/
__pycache__
*.pyc
*.out
*.swp
.idea
.pytest_cache
.venv
*.egg-info
dist/
.envrc
build
.gradle
.DS_Store
cdk/bin/
.vscode/
/.env

# CDK asset staging directory
.cdk.staging
cdk.out
**cdk.out/**
package-lock.json
cdk.context.json
*.app
*.res
*.rest
*.prj
rest/

scripts/inputs
scripts/workdir/
.coverage
.testmondata
*.xlsx
analysis/

# Terraform suggested additions from https://github.com/github/gitignore/blob/main/Terraform.gitignore
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc